@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    font-family: Verdana;
}

body {
    background-color: $dark-grey; 
}

.content-wrapper {
    color: #fff;
    margin: 40px 0;
    padding: 20px;
    background-color: $light-grey;
    border-radius: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}