header {
    background-color: $light-grey;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    padding: 20px 10vw;
}

.header-username {
    font-family: Verdana;
    font-size: 0.55em;
    line-height: 1em;
    margin-right: 10px;
}